<template>
  <p>
    Come find us at
    <a href="https://gitlab.com/mediapot/Mediapot">
      <img src="/assets/gitlab_logo.svg" alt="Gitlab" width="2532" height="1118" class="logo" />
    </a>
  </p>
  <p>
    <img src="/assets/tmdb_logo.svg" alt="TMDB logo" width="408" height="161" class="logo" /><br />
    This product uses the TMDb API but is not endorsed or certified by TMDb.
  </p>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'About',
})
</script>
