<template>
  <div v-if="trending.isSuccessful" class="items">
    <poster v-for="movie in trending.value.data.results" :key="movie.id" :item="toVariant(movie)"></poster>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { getTrending } from '../api/tmdb/trending'
import { useTask } from 'vue-concurrency'
import { toVariant } from '../components/poster/util'

export default defineComponent({
  name: 'Home',
  setup() {
    const trending = useTask(function* () {
      return getTrending()
    }).perform()

    return {
      trending,
      toVariant,
    }
  },
})
</script>

<style lang="scss" scoped>
.items {
  display: flex;
  flex-wrap: wrap;
}
</style>
