<template>
  <div>
    <input type="text" v-model="titleFilter" placeholder="Filter title" />
  </div>
  Sort:
  <div>
    Title
    <br />
    <template v-for="option in titleOrderOptions" :key="option.value">
      <label>
        <input type="radio" name="titleOrder" :value="option.value" v-model="titleOrder" />
        {{ option.name }}
      </label>
      <br />
    </template>
  </div>
  <div class="items">
    <template v-for="item in filteredList" :key="item.id">
      <movie-poster v-if="item != null" :movieId="item.id"></movie-poster>
    </template>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, nextTick, reactive, ref, Ref, watch } from 'vue'
import { useStore } from '../store'
import { MovieItem } from '../store/state'
import { sortByTitle, TitleOrder } from '../util/sort'
import { isNotNil } from '../util/common'

export default defineComponent({
  name: 'MovieList',
  setup() {
    const store = useStore()
    const titleFilter = ref('')
    const titleOrder = ref(TitleOrder.None)
    const titleOrderOptions = [
      { value: TitleOrder.None, name: 'None' },
      { value: TitleOrder.Asc, name: 'Asc' },
      { value: TitleOrder.Desc, name: 'Desc' },
    ]

    const list = reactive<MovieItem[]>([])
    const filteredList = computed(() =>
      list.filter((item) => item.title?.toLocaleLowerCase()?.includes(titleFilter.value.toLocaleLowerCase())),
    )

    watch(
      [store.state.list.movie, titleOrder] as [Partial<Record<number, MovieItem>>, Ref<TitleOrder>],
      async ([items, titleOrder]) => {
        const filteredItems = Object.values(items).filter(isNotNil)
        const sortedItems = sortByTitle(filteredItems, titleOrder)

        list.splice(0)
        // for some reason we need to empty the array, then fill
        // it at the next tick for vue to detect the changes
        await nextTick()
        list.push(...sortedItems)
      },
      { immediate: true },
    )

    return {
      filteredList,
      titleFilter,
      titleOrder,
      titleOrderOptions,
    }
  },
})
</script>

<style lang="scss" scoped>
.items {
  display: flex;
  flex-wrap: wrap;
}
</style>
