<template>
  <div v-if="movieTask.lastSuccessful">
    {{ movieTask.lastSuccessful.value.data.id }}<br />
    {{ movieTask.lastSuccessful.value.data.title }}<br />
    {{ movieTask.lastSuccessful.value.data.overview }}<br />
  </div>
</template>

<script lang="ts">
import { defineComponent, watchEffect } from 'vue'
import { useTask } from 'vue-concurrency'
import { getMovie } from '../api/tmdb/movie'

export default defineComponent({
  name: 'Movie',
  props: {
    movieId: Number,
  },
  setup(props) {
    const movieTask = useTask(function* (signal, movieId: number) {
      return getMovie(movieId)
    }).restartable()

    watchEffect(async () => {
      if (props.movieId != null) {
        await movieTask.perform(props.movieId)
      }
    })

    return {
      movieTask,
    }
  },
})
</script>

<style scoped></style>
