<template>
  <label>
    Type:
    <select v-model="selectedType">
      <option v-for="option in typeOptions" :key="option.value" :value="option.value">{{ option.text }}</option>
    </select>
  </label>
  <br />
  <input v-model="term" type="text" placeholder="Search" @input="termChange($event.target.value)" />
  <template v-if="searchTask.lastSuccessful != null && searchTask.lastSuccessful.value != null">
    <div class="items">
      <template v-if="isSearchAll">
        <poster
          v-for="item in searchTask.lastSuccessful.value.data.results"
          :key="item.id"
          :item="toVariant(item)"
        ></poster>
      </template>
      <template v-else-if="isSearchMovie">
        <movie-poster
          v-for="item in searchTask.lastSuccessful.value.data.results"
          :key="item.id"
          :movieId="item.id"
        ></movie-poster>
      </template>
      <template v-else-if="isSearchTv">
        <tv-poster
          v-for="item in searchTask.lastSuccessful.value.data.results"
          :key="item.id"
          :tvId="item.id"
        ></tv-poster>
      </template>
    </div>
    <mp-button @click="decrementPage" :disabled="isDecrementPageDisabled">previous</mp-button>
    <mp-button @click="incrementPage" :disabled="isIncrementPageDisabled">next</mp-button>
  </template>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { timeout, useTask } from 'vue-concurrency'
import { search, SearchType } from '../api/tmdb/search'
import { toVariant } from '../components/poster/util'
import { SearchMultiResultsPaginated, MoviePaginated, TvPaginated } from '@mediapot/tmdb-api-axios'
import { AxiosResponse } from 'axios'

export default defineComponent({
  name: 'Search',
  setup() {
    const term = ref('')
    let page = 1
    let maxPages = 1

    const selectedType = ref(SearchType.All)
    const typeOptions = [
      { value: SearchType.All, text: 'all' },
      { value: SearchType.Movie, text: 'movie' },
      { value: SearchType.Tv, text: 'tv' },
    ]

    const searchTask = useTask(function* (signal, term: string, page: number, type: SearchType) {
      yield timeout(200)

      if (term !== '') {
        const result: AxiosResponse<SearchMultiResultsPaginated | MoviePaginated | TvPaginated> = yield search(
          term,
          page,
          type,
        )

        maxPages = result?.data?.total_pages ?? 1

        return result
      }
    }).restartable()

    return {
      searchTask,
      term,
      termChange(term: string) {
        page = 1
        void searchTask.perform(term, page, selectedType.value)
      },
      isDecrementPageDisabled: computed(() => page <= 1),
      isIncrementPageDisabled: computed(() => page >= maxPages),
      decrementPage() {
        page -= 1
        void searchTask.perform(term.value, page, selectedType.value)
      },
      incrementPage() {
        page += 1
        void searchTask.perform(term.value, page, selectedType.value)
      },
      selectedType,
      typeOptions,
      isSearchAll: computed(() => selectedType.value === SearchType.All),
      isSearchMovie: computed(() => selectedType.value === SearchType.Movie),
      isSearchTv: computed(() => selectedType.value === SearchType.Tv),
      toVariant,
    }
  },
})
</script>

<style lang="scss" scoped>
.items {
  display: flex;
  flex-wrap: wrap;
}
</style>
