<template>
  <label>
    TMDB API key:
    <input type="text" :value="key" @input="save($event.target.value)" /><br />
  </label>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useStore } from '../store'
import { ActionTypes } from '../store/actions'

export default defineComponent({
  name: 'Settings',
  setup() {
    const store = useStore()

    return {
      key: computed<string>(() => store.getters.apiKey),
      async save(key: string): Promise<void> {
        await store.dispatch(ActionTypes.SetApiKey, key)
      },
    }
  },
})
</script>
