<template>
  <div v-if="tvTask.lastSuccessful">
    {{ tvTask.lastSuccessful.value.data.id }}<br />
    {{ tvTask.lastSuccessful.value.data.name }}<br />
    {{ tvTask.lastSuccessful.value.data.overview }}<br />
  </div>
</template>

<script lang="ts">
import { defineComponent, watchEffect } from 'vue'
import { useTask } from 'vue-concurrency'
import { getTv } from '../api/tmdb/tv'

export default defineComponent({
  name: 'Tv',
  props: {
    tvId: Number,
  },
  setup(props) {
    const tvTask = useTask(function* (signal, tvId: number) {
      return getTv(tvId)
    }).restartable()

    watchEffect(async () => {
      if (props.tvId != null) {
        await tvTask.perform(props.tvId)
      }
    })

    return {
      tvTask,
    }
  },
})
</script>

<style scoped></style>
