<template>
  <div v-if="fetchTask.lastSuccessful">
    <poster-image
      :poster-path="fetchTask.last.value.poster_path"
      :alt="fetchTask.last.value.title"
      @click="isModalOpen = true"
    >
      <template v-if="score != null">{{ score }}/10</template>
      <mp-button @click="navigate(movieId)">open</mp-button>
    </poster-image>
    <movie-edit
      v-if="isModalOpen && hasId(fetchTask.last.value)"
      :movie="fetchTask.last.value"
      :savedEntry="savedEntry"
      @close="isModalOpen = false"
      @save="save"
      @remove="remove"
    ></movie-edit>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { useTask } from 'vue-concurrency'
import { AxiosResponse } from 'axios'
import { MovieDetails } from '@mediapot/tmdb-api-axios'
import router from '../../router'
import { getMovie } from '../../api/tmdb/movie'
import { MovieItem } from '../../store/state'
import { hasId } from '../../model/required-id'
import { ActionTypes } from '../../store/actions'
import { useStore } from '../../store'

export default defineComponent({
  name: 'MoviePoster',
  props: {
    movieId: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const store = useStore()
    const isModalOpen = ref(false)

    const fetchTask = useTask(function* () {
      const result: AxiosResponse<MovieDetails> = yield getMovie(props.movieId)
      return result.data
    })

    void fetchTask.perform()

    return {
      isModalOpen,
      savedEntry: computed(() => store.state.list.movie[props.movieId]),
      score: computed(() => {
        const savedEntry: MovieItem | undefined = store.state.list.movie[props.movieId]
        return savedEntry != null ? savedEntry.score : undefined
      }),
      fetchTask,
      hasId,
      save(item: MovieItem) {
        store.dispatch(ActionTypes.AddMovie, item)
        isModalOpen.value = false
      },
      remove(movieId: number) {
        store.dispatch(ActionTypes.RemoveMovie, movieId)
        isModalOpen.value = false
      },
      async navigate(movieId: number): Promise<void> {
        await router.push({ name: 'Movie', params: { movieId } })
      },
    }
  },
})
</script>

<style scoped>
.poster-image {
  display: block;
  mix-blend-mode: multiply;
  width: 100%;
  height: auto;
}
</style>
