<template>
  <div class="wrapper">
    <img
      :src="'https://image.tmdb.org/t/p/w220_and_h330_face' + posterPath"
      width="220"
      height="330"
      class="poster-image"
    />
    <div class="absolute inset-0 flex flex-col align-center justify-center invisible text-white actions">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PosterImage',
  props: {
    posterPath: String,
  },
})
</script>

<style lang="scss" scoped>
.wrapper {
  position: relative;
}

.wrapper:hover .actions {
  visibility: visible;
}

.poster-image {
  display: block;
  width: 220px;
  height: auto;
}
</style>
