<template>
  <movie-poster v-if="item.type === 'movie'" :movieId="item.id"></movie-poster>
  <tv-poster v-else-if="item.type === 'tv'" :tvId="item.id"></tv-poster>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { ItemVariants } from '@/components/poster/model'

export default defineComponent({
  name: 'Poster',
  props: {
    item: {
      type: Object as PropType<ItemVariants>,
      required: true,
    },
  },
})
</script>

<style scoped></style>
