<template>
  <div v-if="fetchTask.lastSuccessful">
    <poster-image
      :poster-path="fetchTask.last.value.poster_path"
      :alt="fetchTask.last.value.title"
      @click="isModalOpen = true"
    >
      <template v-if="score != null">{{ score }}/10</template>
      <mp-button @click="navigate(tvId)">open</mp-button>
    </poster-image>
    <tv-edit
      v-if="isModalOpen && hasId(fetchTask.last.value)"
      :tv="fetchTask.last.value"
      :savedEntry="savedEntry"
      @close="isModalOpen = false"
      @save="save"
      @remove="remove"
    ></tv-edit>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { useTask } from 'vue-concurrency'
import { AxiosResponse } from 'axios'
import { TvDetails } from '@mediapot/tmdb-api-axios'
import { useStore } from '../../store'
import { getTv } from '../../api/tmdb/tv'
import { TvItem } from '../../store/state'
import { hasId } from '../../model/required-id'
import { ActionTypes } from '../../store/actions'
import router from '../../router'

export default defineComponent({
  name: 'TvPoster',
  props: {
    tvId: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const store = useStore()
    const isModalOpen = ref(false)

    const fetchTask = useTask(function* () {
      const result: AxiosResponse<TvDetails> = yield getTv(props.tvId)
      return result.data
    })

    void fetchTask.perform()

    return {
      isModalOpen,
      savedEntry: computed(() => store.state.list.tv[props.tvId]),
      score: computed(() => {
        const savedEntry: TvItem | undefined = store.state.list.tv[props.tvId]
        return savedEntry != null ? savedEntry.score : undefined
      }),
      fetchTask,
      hasId,
      save(item: TvItem) {
        store.dispatch(ActionTypes.AddTv, item)
        isModalOpen.value = false
      },
      remove(tvId: number) {
        store.dispatch(ActionTypes.RemoveTv, tvId)
        isModalOpen.value = false
      },
      async navigate(tvId: number): Promise<void> {
        await router.push({ name: 'Tv', params: { tvId } })
      },
    }
  },
})
</script>
