<template>
  <div>
    <mp-modal @close="$emit('close')">
      <template v-slot:title>{{ movie.title }}</template>
      <template v-slot:body>
        <label>
          Score:
          <input type="number" min="1" max="10" v-model="entry.score" />
        </label>
        <br />
        <label>
          Status:
          <select v-model="entry.status">
            <option v-for="option in selectableStates" :key="option.value" :value="option.value">
              {{ option.text }}
            </option>
          </select>
        </label>
        <br />
        <label>
          Notes:
          <textarea v-model="entry.notes"></textarea>
        </label>
      </template>
      <template v-slot:footer>
        <mp-button @click="add(movie)">{{ isAdded ? 'update' : 'add' }}</mp-button>
        <mp-button v-if="isAdded" @click="$emit('remove', movie.id)">remove</mp-button>
        <mp-button v-else @click="$emit('close')">cancel</mp-button>
      </template>
    </mp-modal>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue'
import { MovieDetails } from '@mediapot/tmdb-api-axios'
import { RequiredId } from '../../model/required-id'
import { MovieItem, Status } from '../../store/state'

export default defineComponent({
  name: 'MovieEdit',
  props: {
    movie: {
      type: Object as PropType<RequiredId<MovieDetails>>,
      required: true,
    },
    savedEntry: {
      type: Object as PropType<MovieItem>,
      required: false,
    },
  },
  emits: {
    close: null,
    save: null,
    remove(payload: unknown): boolean {
      return typeof payload === 'number'
    },
  },
  setup(props, { emit }) {
    const entry = Object.assign(
      {
        status: Status.None,
        id: props.movie.id,
        notes: '',
        title: props.movie.title,
      },
      props.savedEntry,
    )

    return {
      isAdded: computed<boolean>(() => props.savedEntry != null),
      entry,
      selectableStates: [
        { text: 'none', value: Status.None },
        { text: 'in progress', value: Status.InProgress },
        { text: 'finished', value: Status.Finished },
        { text: 'on hold', value: Status.OnHold },
        { text: 'dropped', value: Status.Dropped },
        { text: 'planned', value: Status.Planned },
      ],
      add() {
        emit('save', { ...entry })
      },
    }
  },
})
</script>
