<template>
  <q-btn color="primary">
    <slot></slot>
  </q-btn>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MpButton',
})
</script>
