<template>
  <teleport to="body">
    <div class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50">
      <div class="bg-white rounded shadow-lg w-1/3">
        <div class="border-b px-4 py-2 flex justify-between items-center">
          <h3 class="font-semibold text-lg">
            <slot name="title">Modal Title</slot>
          </h3>
          <button type="button" class="text-black close-modal" @click="$emit('close')">&cross;</button>
        </div>
        <div class="p-3">
          <slot name="body"></slot>
        </div>
        <div>
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MpModal',
  emits: ['close'],
})
</script>
